In [16]:
import pandas as pd
df=pd.read_excel('Pizza_ingredients.xlsx')

In [17]:
df.head(5)

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [18]:
print(df.isna().sum())  # This will show the count of NaNs per column

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [19]:
print(df[df.isna().any(axis=1)])  # Displays rows with any NaN values

    pizza_name_id            pizza_name   pizza_ingredients  \
24   brie_carre_s  The Brie Carre Pizza  Caramelized Onions
149    hawaiian_l    The Hawaiian Pizza          Sliced Ham
152    hawaiian_m    The Hawaiian Pizza          Sliced Ham
155    hawaiian_s    The Hawaiian Pizza          Sliced Ham

     Items_Qty_In_Grams
24                  NaN
149                 NaN
152                 NaN
155                 NaN

In [20]:
df.shape

(518, 4)

In [21]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
# Step 1: Fill missing values using group mean (pizza_name_id + pizza_ingredient)
group_mean = df.groupby(['pizza_name_id', 'pizza_ingredients'])['Items_Qty_In_Grams'].transform('mean')
df['Items_Qty_In_Grams'] = df['Items_Qty_In_Grams'].fillna(group_mean)

# Step 2: Fill any remaining missing values using global mean per ingredient
ingredient_mean = df.groupby('pizza_ingredients')['Items_Qty_In_Grams'].transform('mean')
df['Items_Qty_In_Grams'] = df['Items_Qty_In_Grams'].fillna(ingredient_mean)

# Step 3: If still missing, fill with overall mean
overall_mean = df['Items_Qty_In_Grams'].mean()
df['Items_Qty_In_Grams'] = df['Items_Qty_In_Grams'].fillna(overall_mean)

# Check if any missing values remain
missing_after = df['Items_Qty_In_Grams'].isna().sum()
missing_after

0

In [23]:
print(df.isna().sum())

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    0
dtype: int64

In [24]:
df['pizza_ingredients'] = df['pizza_ingredients'].replace('?duja Salami','nduja Salami')

In [25]:
ingredients=df.copy()

In [26]:
df.to_csv("ingredients.csv", index=False)

In [27]:
df.head(3)

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0